/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
}

/* Header Styles */

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

header p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Section Styles */

section {
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Proyectos Styles */

.proyecto {
  display: inline-block;
  width: calc(33.33% - 20px);
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.proyecto img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.proyecto h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.proyecto p {
  font-size: 16px;
  margin-bottom: 20px;
}
/* Estilos de las miniaturas*/
.proyecto {
  text-align: center;
  margin: 20px;
  transition: transform 0.3s;
}

.proyecto:hover {
  transform: scale(1.05);
}

.miniatura img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
  margin-top: 10px;
  font-size: 1.5rem;
}

.proyecto p {
  font-size: 1rem;
  color: #555;
}

.tecnologias {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tecnologias span {
  background-color: #f4f4f4;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 4px;
  font-size: 0.9rem;
}

/* Contacto Styles */

#contacto {
  background-color: #333;
  color: #fff;
  padding: 40px;
}

#contacto h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#contact-form {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contact-form input, #contact-form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#contact-form button {
  background-color: #333;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#contact-form button:hover {
  background-color: #555;
}

/* Responsive Design */

@media (max-width: 768px) {
  .proyecto {
    width: 100%;
    margin: 20px 0;
  }
}

@media (max-width: 480px) {
  #contact-form {
    width: 100%;
    margin: 20px 0;
  }
}
